.color{
    color: #58595b;
    font-size: 25px;
}
@media screen and (max-width:1350px) {
    
        .wishlist-btn{
            width: 250px;

        }

    
    
    
}
@media screen and (max-width:1222px) {
    
        .cart-item{
            flex-direction: column;
        }
        .cart-item .cart-item-img{
            width: 100%;
        }
        .cart-item .cart-item-content{
            width: 100%;
            padding-top: 20px;
        }

    
    
    
}
@media screen and (max-width:850px) {
    .cartsidebar-width{
        width: 400px;
    }
    
}
@media screen and (max-width:655px) {
    .cart-container{
        width:90%
    }
     
    .cart-container .cart-btn{
        /* flex-direction: column; */
    }
    .wishlist-btn {
        width: 230px;

    }
    
}
@media screen and (max-width:411px) {
     .cartsidebar-width{
        width: 350px;
    }
}
@media screen and (max-width:479px) {
.cart-container .cart-btn{
        flex-direction: column;
    }
    .cart-btn-width{
        width: 98%;
    }
    

    
}
@media screen and (max-width:352px) {
     .cartsidebar-width{
        width: 300px;
     }
     .sizetext{
        font-size: 14px;
        
     }
}

