.hower-img:hover{
transform: scale(1.05);
 transition: transform 0.5s ease;

}

@media screen and (max-width:880px) {
    .curated-images{
        width: 95%;
        
         grid-template-columns: repeat(2, minmax(0, 1fr))
    }
    
}
@media screen and (max-width:400px) {
    .curated-images{
         grid-template-columns: repeat(1, minmax(0, 1fr))
        
    }
}