@media screen and (max-width:700px) {
    .feature-bar .text{
font-size: 14px;
    }
    .feature-bar .logo{
        width: 50px!important;
        height:50px!important;
    }
   
    
}
@media screen and (max-width:650px) {
    .feature-bar .bar{
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
        justify-content: center;
        gap: 10px;
      

    }
     .feature-bar .container{
  
        width: 100%;
        border-bottom: 1px solid rgb(218, 212, 212);
        padding-bottom: 10px;
      
    }

     .feature-bar .container.padding-top{
        padding-top: 10px;
     }

    .feature-bar .bar{
        width: 80%;
  
    }
  


    
}