.sidebar  .slider .collections .card-img .image{

border-radius: 15px!important;
/* aspect-ratio: 1/1; */

}
.sidebar  .slider .collections .card{
border-radius: 15px!important;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



}
.sidebar  .slider .collections .next-btn1 ,.prev-btn1{
    display: none;

}
.sidebar  .slider .collections .swiper-pagination{
display: block!important;
margin-top: 4px;
}
.sidebar  .slider .collections .heading{
    font-size: 13px;
    border-bottom: none;
    font-weight: 600;
    color: black;


}
.sidebar  .slider{
    padding-top: 30px;  

}

.sidebar  .slider .collections .swiper-wrapper{
    /* padding-bottom: 20px; */
    
}



