
.pagination .swiper-pagination{
  display: none;

}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@media screen and (max-width:1000px) {
    
    .slider1{
        display: none;
    }
    .slider2{
        display: flex;
    }
    .prev-btn{
        display: none;
    }
    .next-btn{
        display: none;
    }
}

