.scroll-hide{
    scrollbar-width: none;

}
.collection .card .price{
font-weight: 700;

}
@media screen and (max-width:770px) {
    .collection{
        /* display: grid; */
        grid-template-columns: 1fr 1fr;
    }
    
}
@media screen and (max-width:326px) {
     .collection{
        grid-template-columns: 1fr;
     }
    
}